p {
  text-align: justify;
  hyphens: auto;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a8e6cf, #dcedc1);
   }


.watermark {
	position: absolute;
	bottom: 10px; /* Vzdálenost od spodního okraje */
	right: 30px; /* Vzdálenost od pravého okraje */
	font-size: 12px; /* Zmenšení textu */
	color: rgba(0, 0, 0, 0.5); /* Poloprůhledná černá pro lepší viditelnost */
	font-family: Arial, sans-serif;
	pointer-events: none; /* Zabrání interakci s vodoznakem */
	z-index: 9999; /* Zajistí, že bude vodoznak nad ostatním obsahem */
  }

  .language-switcher {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 16px;
  }
  
  .language-switcher a {
	text-decoration: none;
	color: rgba(rgba(187, 255, 0, 0.685)); 
	margin: 0 5px;
	font-weight: bold;
  }
  
  .language-switcher a:hover {
	color: #000;
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

